src/main/mule/expose-oas-endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="3c2a9e1a-24ff-4e43-ac98-6461b2afd994" >
		<file:connection workingDir="${swagger_file_modified_path}" />
	</file:config>
	<configuration-properties doc:name="Configuration properties" doc:id="39b11209-391b-445a-8143-6b0de9a05209" file="configurations.yaml" />
	<flow name="swagger-host-basepath-replacerSub_Flow" doc:id="295e4440-936b-4624-a7dd-5ed88f709c62" initialState="${swagger_flow_initial_status}">
		<http:listener doc:name="Listener" doc:id="77139908-6cf7-4473-98cd-845db1fab3a6" path="${swagger_http_endpoint}" config-ref="${http_listener_config}"/>
		<ee:transform doc:name="read-swagger-raplace-path&amp;host_with_currents" doc:id="082d448b-7ec6-4a2b-9a6c-2c1a8a3ed595" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var swagger_file_name = p('swagger_file_name')
var orgId = p('orgId')
var apiName = p('apiName')
var version = p('version')
var dependency_type = p('dependency_type')
var classifier = p('classifier')
var fullPath = 'classpath://resource::' ++ orgId ++ ':' ++ apiName ++ ':' ++ version ++ ':' ++ classifier ++ ':' ++ dependency_type ++ ':' ++ swagger_file_name
var swagger = readUrl(fullPath,"application/json")
---
swagger mapObject ((v,k,i) -> 

(k) : (k as String match {
    case "host" -> message.attributes.headers.host
    case "basePath" -> p('basePath')
    case "schemes" -> message.attributes.scheme
    else -> v
})
)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="af1ddb37-73ed-4813-a368-59dd8436001d" config-ref="File_Config" path="${swagger_file_modified_name}"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="43f52f6b-3216-4903-872d-3b1a8d388775" message="#[payload]"/>
	</flow>
</mule>
